


.inner{position: relative; z-index: 100; max-width: 1430px; display: block; padding: 0 15px; box-sizing: border-box; margin: 0 auto;}





/*--------------------------------------------------------------------------------------------------------------------------------------------

                                                                Responsive

--------------------------------------------------------------------------------------------------------------------------------------------*/

